<% comments.forEach(function(comment){%>
<div class="comment-item" id="<%= comment.author_id._id %>" target="<%= comment.author_id.name %>">
    <div class="mod-head">
        <a class="aw-user-img aw-border-radius-5 pull-right" href="/user/<%= comment.author_id.name %>">
            <img src="<%= comment.author_id.avatar %>">
        </a>
        <div class="title">
            <p>
                <!--默认是给一级回复的那个人回复的-->
                <a class="aw-user-name" href="/user/<%= comment.author_id.name %>"><%= comment.author_id.name %></a>
                回复
                <a class="aw-user-name" href="/user/<%= comment.reply_author_id.name %>"><%= comment.reply_author_id.name %></a>
            </p>
        </div>
    </div>
    <div class="mod-body clearfix">
        <div class="markitup-box">
            <%- comment.content %>
        </div>
    </div>
    <div class="mod-footer">
        <span class="text-color-999 pull-right"><%= comment.create_time_ago() %></span>
        <span class="operate">
            <a class="agree">
                <i class="fa fa-thumbs-o-up"></i>
                <b class="count">0</b>
            </a>
        </span>
        <span class="operate">
            <a href="javascript:void(0)" class="aw-add-comment  comment_btn">
                <i class="fa fa-commenting-o"></i>
                回复
            </a>
        </span>
    </div>
</div>
<%})%>
<div class="newContent"></div>
<div class="page">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <ul class="pagination">
                <% pageInfo.pages.forEach(function(page){%>
                <li><a class="loadpage" href="javascript:void(0)"><%= page %></a></li>
                <%})%>
            </ul>
        </div>
    </div>
</div>